{"openapi":"3.0.0","info":{"title":"Transmit Message API","description":"Transmit SMSV2","version":"1.0.1"},"servers":[{"url":"https://api.transmitmessage.com"}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"X-API-KEY","description":"All API requests require your API credentials, you will find them once logged into your account on the SETTINGS page. Scroll down to API Settings to find your API key.\n"}}},"security":[{"apikeyAuth":[]}],"tags":[{"name":"MMS","description":"The primary method of sending MMS"},{"name":"SMS","description":"The primary method of sending SMS.\n\nYou can elect to pass us the recipient numbers from your database each time you make an API call.\n\nIn order to send to a local number for a recipient the Sender virtual number needs to be in the same country.\n\nYou can pass us the recipient number in international format and we will deliver your message with the Sender virtual number on your account for the same country.\n\nIf you do not have a Sender virtual number for the same country we will use a local number for the country you are sending to in order to deliver your message.\n\nList of countries we currently deliver to: [Global Delivery List](https://help.kudosity.com/support/solutions/articles/44001077065-global-sms-delivery-list)"},{"name":"Webhook","description":"Our webhooks API allows you to subscribe to events for SMS, MMS, and RCS messages. Using them requires you to have URLs (https) configured on your account that can receive POST requests over the internet.\n\nThe `event_type` field is an enum that specifies which event to subscribe to:\n\n- LINK_HIT\n- OPT_OUT\n- MMS_STATUS\n- MMS_INBOUND\n- SMS_INBOUND\n- SMS_STATUS\n- RCS_STATUS\n    \n\nFor status events, the nested `status` field is an enum with these values:\n\n- FAILED: Failed because of an error from the carrier or handset.\n    \n- SENT: Submitted to the carrier.\n- ACCEPTED: Accepted by the carrier and delivery may have been attempted (but is not confirmed).\n- DELIVERED: Delivered to handset.\n- SOFT_BOUNCE: Undeliverable due to handset being switched off, out of range or other temporary deliverability issue.\n- HARD_BOUNCE: Handset was disconnected.\n- OTHER: Any other status from the carrier.\n    \n\n## Link Hit\n\nThe `LINK_HIT` event is triggered any time a recipient visits a link that is tracked. Track Links is an optional flag on the send message API calls. Along with the URL that was being tracked is a hits field indicating how many visits this tracked link has in total and a source_message which contains the track link sent to the recipient.\n\n###### Example Payloads\n\n```json Hit link in MMS {\n  \"event_type\": \"LINK_HIT\",\n  \"timestamp\": \"2021-05-06T05:19:42Z\",\n  \"link_hit\": {\n    \"hits\": 1,\n    \"url\": \"https://www.example.com/abc\",\n    \"source_message\": {\n      \"type\": \"MMS\",\n      \"id\": \"b50e4dc1-e57f-459c-a15c-526bee00a4c4\",\n      \"message\": \"Hey, Check this out! http://clckme.info/KYhSsuIH Opt-out reply STOP\",\n      \"message_ref\": \"D701\",\n      \"recipient\": \"61435790000\",\n      \"sender\": \"61481074191\",\n      \"subject\": \"Hello\",\n      \"content_urls\": [\n        \"https://res.cloudinary.com/burstsms/image/upload/v1618798563/284KB_qgqtbe.jpg\"\n      ]\n    }\n  }\n} ``` ```json Hit link in SMS {\n  \"event_type\": \"LINK_HIT\",\n  \"timestamp\": \"2021-07-20T23:14:04Z\",\n  \"link_hit\": {\n    \"hits\": 1,\n    \"url\": \"https://www.example.com/abc\",\n    \"source_message\": {\n      \"type\": \"SMS\",\n      \"id\": \"faf68308-16cd-4cf9-aef7-47342bd405be\",\n      \"message\": \"Hey, Check this out! http://clckme.info/KYhSsuIH for Opt-out reply STOP or hit opt out link - http://nsub.me/vqHTcCsh \",\n      \"message_ref\": \"D301\",\n      \"recipient\": \"61435795809\",\n      \"sender\": \"61481074185\"\n    }\n  }\n} ```\n## Opt Out\n\nThe `OPT_OUT` event is triggered when a recipient has visited an opt-out link in a message they have received or by sending a message with the text \"STOP\".\n\nUsing parameter \\[opt-out-link\\] in message body, inserts the opt-out link.\n\nThe source field will be set according to the method a recipient has used to opt-out and contain a value of either link or SMS.\n  \n\n###### Example Payloads\n\n```json Opt out via link {\n  \"event_type\": \"OPT_OUT\",\n  \"timestamp\": \"2021-05-06T05:16:20Z\",\n  \"opt_out\": {\n    \"source\": \"LINK_HIT\",\n    \"source_message\": {\n      \"type\": \"SMS\",\n      \"id\": \"a51ebe4e-a412-440e-a8d9-464e68a521cc\",\n      \"message\": \"Hey, Check this out! http://clckme.info/KYhSsuIH for Opt-out reply STOP or hit opt out link - http://nsub.me/vqHTcCsh\",\n      \"message_ref\": \"ncc5009d\",\n      \"recipient\": \"61435790000\",\n      \"sender\": \"61481074190\"  \n    }\n  }\n} ``` ```json Opt out via message {\n  \"event_type\": \"OPT_OUT\",\n  \"timestamp\": \"2021-05-06T05:16:20Z\",\n  \"opt_out\": {\n    \"source\": \"SMS_INBOUND\",\n    \"source_message\": {\n      \"type\": \"SMS\",\n      \"id\": \"a51ebe4e-a412-440e-a8d9-464e68a521cc\",\n      \"message\": \"Hey, Check this out! http://clckme.info/KYhSsuIH for Opt-out reply STOP or hit opt out link - http://nsub.me/vqHTcCsh\",\n      \"message_ref\": \"ncc5009d\",\n      \"recipient\": \"61435790000\",\n      \"sender\": \"61481074190\"\n    }\n  }\n} ```\n## MMS Status\n\nThe `MMS_STATUS` event data is posted to you for changes to an MMS message status. These are currently only comprised of internal statuses (SENT, FAILED).\n\n###### Example Payload\n\n```json {\n  \"event_type\": \"MMS_STATUS\",\n  \"timestamp\": \"2021-05-06T05:19:33Z\",\n  \"status\": {\n    \"type\": \"MMS\",\n    \"id\": \"b50e4dc1-e57f-459c-a15c-526bee00a4c4\",\n    \"message_ref\": \"D7001\",\n    \"recipient\": \"61435790000\",\n    \"sender\": \"61481074191\",\n    \"status\": \"SENT\"\n  }\n} ```\n## SMS Inbound\n\nThe `SMS_INBOUND` event is posted to you on receipt of an SMS sent from a recipient to one of the senders listed on your account. For convenience we will try and find a message that you have sent to this recipient from that sender and supply it as the `last_message` field. This is useful for determining if an inbound message is potentially a reply. The `routed_via` field will display when a shared local number has been used to deliver your message.\n\n###### Example Payload\n\n```json {\n  \"event_type\": \"SMS_INBOUND\",\n  \"timestamp\": \"2021-05-06T05:16:33Z\",\n  \"mo\": {\n    \"type\":\"SMS\",\n    \"id\": \"alss-2way-605b31c7-d2c49104\",\n    \"message\": \"Stop\",\n    \"recipient\": \"61481074190\",\n    \"routed_via\": \"447507333300\",\n    \"sender\": \"447507222200\",\n    \"last_message\": {\n      \"type\":\"SMS\",\n      \"id\": \"a51ebe4e-a412-440e-a8d9-464e68a521cc\",     \n      \"message\": \"Hey, check this out!\",\n      \"message_ref\": \"ncc5009d\",\n      \"recipient\": \"447507222200\",\n      \"routed_via\": \"447507333300\",\n      \"sender\": \"61481074190\"\n    }\n  }\n} ```\n## SMS Status\n\nThe `SMS_STATUS` event data is posted to you for changes to a SMS message status. Multiple status events can be triggered for a single message.\n\nThe `routed_via` field will display when a shared local number has been used to deliver your message.\n\n###### Example Payload\n\n```json {\n  \"event_type\": \"SMS_STATUS\",\n  \"timestamp\": \"2021-05-06T05:16:07Z\",\n  \"status\": {\n    \"type\": \"SMS\",\n    \"id\": \"a51ebe4e-a412-440e-a8d9-464e68a521cc\",\n    \"message_ref\": \"ncc5009d\",\n    \"recipient\": \"447507222200\",\n    \"routed_via\": \"447507333300\",\n    \"sender\": \"61481074190\",\n    \"status\": \"SENT\"\n  }\n} ```\n## RCS Status\n\nThe `RCS_STATUS` event data is posted to you for changes to an RCS message status. RCS supports enhanced status tracking including read receipts.\n\nRCS-specific statuses include:\n\n- SENT: Submitted to the carrier.\n- DELIVERED: Delivered to handset.\n- FAILED: Failed because of an error from the carrier or handset.\n- READ: Message was read by the recipient (RCS-specific feature).\n\n###### Example Payload\n\n```json {\n  \"event_type\": \"RCS_STATUS\",\n  \"timestamp\": \"2025-01-07T05:16:07Z\",\n  \"webhook_id\": \"fd0e6485-b905-44c1-bd55-fee1d0d6d864\",\n  \"webhook_name\": \"RCS Status Webhook\",\n  \"status\": {\n    \"type\": \"RCS\",\n    \"id\": \"6fdae71c-dad7-4c36-9734-a69693ecf3b4\",\n    \"message_ref\": \"order-12345\",\n    \"recipient\": \"+447903749662\",\n    \"sender\": \"DemoSender\",\n    \"status\": \"READ\"\n  }\n} ```"},{"name":"Conversr","description":"Conversr is an extension of Transmit that enables automated conversational SMS. Equipped with AI, Conversr understands and responds to contacts in real time, with options for automated follow up for unresponsive contacts.\n\nConversr touchpoints are similar to SMS / MMS campaigns, and are created with reference to a touchpoint type which defines template message copy and automation rules for inbound replies and other events that occur during a conversation.\n\n**Note:** Conversr is currently in closed beta and available only to a limited number of Transmit API users."}],"paths":{"/v2/mms":{"post":{"tags":["MMS"],"summary":"Send MMS","description":"The Send MMS endpoint allows you to send multimedia messages (MMS) to recipients. ","security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"subject":{"type":"string","description":"Subject of the message. Maximum length of 20 characters."},"message":{"type":"string","description":"Body text of the message. Maximum length of 1,000 characters.\n<br>If opt-out is required, insert parameter [opt-out-link]\ninto the message and a link will be generated.\n"},"message_ref":{"type":"string","description":"A reference supplied by your system. Maximum length of 500 characters.\n<br>This reference will be passed back in webhooks so that you can\nrelate events to messages you sent.\n<br>For example, being able to relate a Link Hit event to a specific\nsent message.\n"},"sender":{"type":"string","description":"The sender is the number that shows recipients who sent the message."},"recipient":{"type":"string","description":"The destination number for delivery.\n<br>Can be either in local format or in international format.\n<br>For international format, it should follow E.164 standard.\n[http://en.wikipedia.org/wiki/E.164](http://en.wikipedia.org/wiki/E.164)\n<br>Can only send to Australia currently.\n<br>Examples of conversions to E.164 format:\n<br>Australia 0438 333 061 => 61438333061\n"},"content_urls":{"type":"array","items":{"type":"string"},"description":"Specify a list of URLs of the media file(s) that you are trying to send. \nSupported file formats include jpg, gif, png, MP3, and video MP4. Only one image up to 400 KB can be attached at a time.\n<br>URLs must be absolute paths to the media file, they cannot be relative paths. For example, https://outbound-mms.smsbump.com/2024/fashion.gif.\n"},"has_track_links":{"type":"boolean","description":"Enable the link tracking feature which replaces links in outbound messages\nwith shortened links.\n<br>This allows us to track when recipients view links.\n"},"is_sandbox":{"type":"boolean","deprecated":true,"description":"Deprecated. Use a sandbox account instead, or contact support to request one."}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"},"example":{"id":"6fdae71c-dad7-4c36-9734-a69693ec2318","recipient":"61435795809","sender":"61481074185","country":"AU","subject":"USS Enterprise","message":"Check out this amazing specimen.","message_ref":"ncc1701d","content_urls":["http://res.cloudinary.com/burstsms/image/upload/v1590111670/enterprise-d_ghf9t8.jpg"],"status":"pending","track_links":true,"created_at":"2022-03-29T04:42:01.631708761Z","updated_at":"2022-03-29T04:42:01.631708761Z"}}}}}}},"/v2/mms/{id}":{"get":{"tags":["MMS"],"summary":"Get MMS","description":"This request retrieves the information of an existing sent MMS message. You only need to supply the unique message id that was returned upon creation.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Unique ID of the sent MMS."}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"},"example":{"id":"6fdae71c-dad7-4c36-9734-a69693ec2318","recipient":"61435795809","sender":"61481074185","country":"AU","subject":"USS Enterprise","message":"Check out this amazing specimen.","message_ref":"ncc1701d","content_urls":["http://res.cloudinary.com/burstsms/image/upload/v1590111670/enterprise-d_ghf9t8.jpg"],"status":"sent","track_links":true,"created_at":"2022-03-29T04:42:01.631708000Z","updated_at":"2022-03-29T04:42:01.776094000Z"}}}}}}},"/v2/sms":{"get":{"tags":["SMS"],"summary":"List SMS","description":"Returns a list of all the SMS messages sent from your account.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"start_date","in":"query","required":false,"description":"RFC 3339 format (e.g. \"2020-04-01T00:00:00Z\")","schema":{"type":"string","format":"date-time"}},{"name":"end_date","in":"query","required":false,"description":"RFC 3339 format (e.g. \"2020-05-01T00:00:00Z\")","schema":{"type":"string","format":"date-time"}},{"name":"message_ref","in":"query","required":false,"description":"Message reference","schema":{"type":"string"}},{"name":"sender","in":"query","required":false,"description":"Sender address","schema":{"type":"string"}},{"name":"recipient","in":"query","required":false,"description":"Recipient number","schema":{"type":"string"}},{"name":"status","in":"query","required":false,"description":"Status (uppercase)","schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Rows per page (default 100)","schema":{"type":"integer","default":100}},{"name":"page","in":"query","required":false,"description":"Page number (default 1)","schema":{"type":"integer","default":1}},{"name":"order_by","in":"query","required":false,"description":"Comma seperated fields for ordering. Valid values are CREATED_AT_ASC and CREATED_AT_DESC.","schema":{"type":"string","default":"CREATED_AT_ASC"}},{"name":"format","in":"query","required":false,"description":"CSV or JSON (default)","schema":{"type":"string","enum":["CSV","JSON"]}},{"name":"direction","in":"query","required":false,"description":"IN or OUT, meaning outbound or inbound messages.","schema":{"type":"string","enum":["IN","OUT"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"},"example":{"smses":[{"id":"c915f744-0e8b-4c6c-82b4-6be4c8da7b60","recipient":"61478038915","recipient_country":"AU","sender":"61481074185","sender_country":"AU","message_ref":"ncc1701d","message":"Report to the ready room! Opt-out reply STOP","status":"pending","sms_count":1,"is_gsm":true,"direction":"OUT","created_at":"2022-03-29T04:44:28.961451646Z","updated_at":"2022-03-29T04:44:28.961451646Z"}]}}}}}},"post":{"tags":["SMS"],"summary":"Send SMS","security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Body text of the message.\n<br><br>Can be up to 5,000 alphanumeric characters.\nA part is 160 characters for a single SMS or 153 characters per part for multi-part SMS.\nIf the message contains Unicode UTF8 encoded characters such as emoji’s or non latin character sets,\nthen a single part is 70 characters or 67 characters for multiple parts.\n<br><br>More information on <a href=\"https://support.transmitsms.com/s/article/44001076957-how-many-characters-can-i-have-in-my-text-message\">message length and encoding</a>.\n<br><br>If opt-out is required, insert parameter [opt-out-link] into the message and a link will be generated.\n","example":"Your message goes here"},"message_ref":{"type":"string","description":"A reference supplied by your system. Maximum length of 500 characters.\n<br><br>This reference will be passed back in webhooks so that you can relate events to messages you sent.\n<br><br>For example, being able to relate a Link Hit event to a specific sent message.\n","example":"ref123"},"sender":{"type":"string","description":"Sender is the number (or alphanumeric) that the message appears from on the handset.\n<br><br>Sender number functionality varies by country.\nYou can send from an alphanumeric sender if it is available for the destination country.\n<br><a href=\"https://support.transmitsms.com/s/article/44002047926-international-support-for-alphanumeric-sender-id\">Global SMS delivery list</a>.\n<br><br>Alphanumeric senders (which cannot be replied to) have a maximum of 11 characters.\nOnly letters, numbers, underscore, hyphen or space are allowed and they are included in the total character count.\n(Consecutive underscore, hyphen, space is not allowed.)\n","example":"MySender"},"recipient":{"type":"string","description":"The destination number for delivery.\n<br><br>Can be either in local or international format.\nLocal format uses the same country as the sender.\n<br><a href=\"http://en.wikipedia.org/wiki/E.164\">E.164 standard</a>.\n<br><br>Examples of conversions to E.164 format:\n<br>Australia 0438 333 061 => 61438333061\n<br>New Zealand 0212172782 => 64212172782\n<br>USA (281) 869-1226 => 12818691226\n","example":"61438333061"},"track_links":{"type":"boolean","description":"Enable the link tracking feature which replaces links in outbound messages with shortened links. This allows us to track when recipients view.","example":false},"is_sandbox":{"type":"boolean","deprecated":true,"description":"Deprecated. Use a sandbox account instead, or contact support to request one."}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"},"examples":{"example-0":{"summary":"Message only","value":{"id":"c915f744-0e8b-4c6c-82b4-6be4c8da7b60","recipient":"61478038915","recipient_country":"AU","sender":"61481074185","sender_country":"AU","message_ref":"ncc1701d","message":"Report to the ready room! Opt-out reply STOP","status":"pending","sms_count":1,"is_gsm":true,"direction":"OUT","created_at":"2022-03-29T04:44:28.961451646Z","updated_at":"2022-03-29T04:44:28.961451646Z"}},"example-1":{"summary":"Track link","value":{"id":"c915f744-0e8b-4c6c-82b4-6be4c8da7b60","recipient":"61478038915","recipient_country":"AU","sender":"61481074185","sender_country":"AU","message_ref":"ncc1701d","message":"Report to the ready room! Tap here http://track.com/BiUIuHTS to beam over. Opt-out reply STOP","status":"pending","sms_count":1,"is_gsm":true,"track_links":true,"direction":"OUT","created_at":"2022-03-29T04:44:28.961451646Z","updated_at":"2022-03-29T04:44:28.961451646Z"}},"example-2":{"summary":"International","value":{"id":"c915f744-0e8b-4c6c-82b4-6be4c8da7b60","recipient":"447506002222","recipient_country":"GB","routed_via":"447507333300","sender":"61481074185","sender_country":"AU","message_ref":"ncc1701d","message":"Report to the ready room! Opt-out reply STOP","status":"pending","sms_count":1,"is_gsm":true,"direction":"OUT","created_at":"2022-03-29T04:44:28.961451646Z","updated_at":"2022-03-29T04:44:28.961451646Z"}}}}}}}}},"/v2/sms/{id}":{"get":{"tags":["SMS"],"summary":"Get SMS","description":"Retrieves information about an existing SMS message. You only need to supply the unique message id that was returned upon message creation.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Unique ID of the sent message"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"},"example":{"id":"2d2c8fb6-e514-4f5f-9706-0672b0259218","recipient":"61478038915","recipient_country":"AU","sender":"61481074185","sender_country":"AU","message_ref":"ncc1701d","message":"Report to the ready room! Opt-out reply STOP","status":"delivered","sms_count":1,"is_gsm":true,"track_links":true,"direction":"OUT","created_at":"2022-03-28T06:12:52.450674000Z","updated_at":"2022-03-28T06:12:52.450674000Z"}}}}}}},"/v2/webhook":{"post":{"tags":["Webhook"],"summary":"Create Webhook","security":[{"ApiKeyAuth":[]}],"description":"We use webhooks to let your application know when events happen, such as receiving an SMS message. When the event occurs, the system makes an HTTP request (usually a POST) to the URL you configured for the webhook. The request will include details of the event such as the incoming phone number or the body of an incoming message.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"event_type":{"type":"string","description":"Event type.\n\n1: \"LINK_HIT\"  \n2: \"OPT_OUT\"  \n3: \"MMS_STATUS\"  \n4: \"SMS_INBOUND\"  \n5: \"SMS_STATUS\"\n6: \"MMS_INBOUND\"\n7: \"RCS_STATUS\"\n","enum":["LINK_HIT","OPT_OUT","MMS_STATUS","SMS_INBOUND","SMS_STATUS","MMS_INBOUND","RCS_STATUS"],"example":"LINK_HIT"},"name":{"type":"string","description":"Webhook name.","example":"My Webhook"},"url":{"type":"string","description":"URL (https) that accepts JSON encoded POST requests.","example":"https://example.com/webhook"},"rate_limit":{"type":"number","description":"Rate limit for your URL. Max 10,000/sec.","example":1000},"is_sandbox":{"type":"boolean","deprecated":true,"description":"Deprecated. Use a sandbox account instead, or contact support to request one."}},"required":["event_type","name","url"]}}}},"responses":{"201":{"description":"Webhook created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier for the webhook.","example":"23f4692f-34e0-4931-90b9-50b5a527495a"},"event_type":{"type":"string","description":"Type of the event.","enum":["LINK_HIT","OPT_OUT","MMS_STATUS","SMS_INBOUND","SMS_STATUS","MMS_INBOUND","RCS_STATUS"],"example":"LINK_HIT"},"name":{"type":"string","description":"Name of the webhook.","example":"My Webhook"},"url":{"type":"string","description":"URL (https) that accepts JSON encoded POST requests.","format":"uri","example":"https://sms-kudosity-webpage-example.glitch.me/message"},"rate_limit":{"type":"integer","description":"Rate limit for the webhook.","example":0},"created_at":{"type":"string","format":"date-time","description":"Timestamp when the webhook was created.","example":"2024-11-19T05:55:06.810258960Z"},"updated_at":{"type":"string","format":"date-time","description":"Timestamp when the webhook was last updated.","example":"2024-11-19T05:55:06.810258960Z"}},"example":{"id":"23f4692f-34e0-4931-90b9-50b5a527495a","event_type":"LINK_HIT","name":"My Webhook","url":"https://sms-kudosity-webpage-example.glitch.me/message","rate_limit":0,"created_at":"2024-11-19T05:55:06.810258960Z","updated_at":"2024-11-19T05:55:06.810258960Z"}}}}}}},"get":{"tags":["Webhook"],"summary":"Retrieve all webhooks","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"A list of webhooks","content":{"application/json":{"schema":{"type":"object","properties":{"webhooks":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier for the webhook.","example":"67e3e4af-62e8-4515-8b67-6f20d0c51ffb"},"event_type":{"type":"string","description":"Type of the event.","enum":["LINK_HIT","OPT_OUT","MMS_STATUS","SMS_INBOUND","SMS_STATUS","MMS_INBOUND","RCS_STATUS"],"example":"SMS_STATUS"},"name":{"type":"string","description":"Name of the webhook.","example":"Hook"},"url":{"type":"string","description":"URL (https) that accepts JSON encoded POST requests.","format":"uri","example":"https://webhook.site/uuid"},"created_at":{"type":"string","format":"date-time","description":"Timestamp when the webhook was created.","example":"2022-04-06T04:43:40.927264000Z"},"updated_at":{"type":"string","format":"date-time","description":"Timestamp when the webhook was last updated.","example":"2022-04-06T04:43:40.927264000Z"}}}}}}}}}}}},"/v2/webhook/{id}":{"get":{"tags":["Webhook"],"summary":"Get Webhook","security":[{"apikeyAuth":[]}],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Unique ID of the webhook"}],"responses":{"200":{"description":"A single webhook","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier for the webhook.","example":"67e3e4af-62e8-4515-8b67-6f20d0c51ffb"},"event_type":{"type":"string","description":"Type of the event.","enum":["LINK_HIT","OPT_OUT","MMS_STATUS","SMS_INBOUND","SMS_STATUS","MMS_INBOUND","RCS_STATUS"],"example":"SMS_STATUS"},"name":{"type":"string","description":"Name of the webhook.","example":"Hook"},"url":{"type":"string","description":"URL (https) that accepts JSON encoded POST requests.","format":"uri","example":"https://webhook.site/uuid"},"created_at":{"type":"string","format":"date-time","description":"Timestamp when the webhook was created.","example":"2022-04-06T04:43:40.927264000Z"},"updated_at":{"type":"string","format":"date-time","description":"Timestamp when the webhook was last updated.","example":"2022-04-06T04:43:40.927264000Z"}}}}}}}},"put":{"tags":["Webhook"],"summary":"Update Webhook","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","description":"Unique identifier for the webhook.","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"event_type":{"type":"string","description":"Type of the event.","enum":["LINK_HIT","OPT_OUT","MMS_STATUS","SMS_INBOUND","SMS_STATUS","MMS_INBOUND","RCS_STATUS"],"example":"LINK_HIT"},"name":{"type":"string","description":"Name of the webhook.","example":"Tracker"},"url":{"type":"string","description":"URL (https) that accepts JSON encoded POST requests.","format":"uri","example":"https://webhook.site/newuuid"}}}}}},"responses":{"200":{"description":"Webhook updated.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier for the webhook.","example":"67e3e4af-62e8-4515-8b67-6f20d0c51ffb"},"event_type":{"type":"string","description":"Type of the event.","enum":["LINK_HIT","OPT_OUT","MMS_STATUS","SMS_INBOUND","SMS_STATUS","MMS_INBOUND","RCS_STATUS"],"example":"LINK_HIT"},"name":{"type":"string","description":"Name of the webhook.","example":"Tracker"},"url":{"type":"string","description":"URL (https) that accepts JSON encoded POST requests.","format":"uri","example":"https://webhook.site/newuuid"},"created_at":{"type":"string","format":"date-time","description":"Timestamp when the webhook was created.","example":"2022-04-06T04:43:40.927264000Z"},"updated_at":{"type":"string","format":"date-time","description":"Timestamp when the webhook was last updated.","example":"2022-04-06T04:47:40.355991547Z"}}}}}}}},"delete":{"tags":["Webhook"],"summary":"Delete Webhook","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Unique ID of the webhook"}],"responses":{"200":{"description":"Webhook deletion confirmation","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Confirmation message","example":"deleted"}}}}}}}}},"/v1/touchpoint/{id}":{"get":{"tags":["Conversr"],"summary":"Get Touchpoint","description":"Returns a single touchpoint.","parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Unique ID of the touchpoint"}],"responses":{"200":{"description":"successful operation","content":{"text/plain":{"schema":{"type":"string"},"example":"{\r\n    \"id\": \"e40bdade-68c2-45ce-a5f1-8f022b9f97c5\",\r\n    \"account_id\": \"173733\",\r\n    \"name\": \"Lead Call Scheduling Campaign\",\r\n    \"type\": \"lead_call_scheduling\",\r\n    \"status\": \"active\",\r\n    \"operator_name\": \"Emily\",\r\n    \"company_name\": \"Transmit\",\r\n    \"sender_address\": \"61426309000\",\r\n    \"created_at\": \"2023-08-14T03:29:43.907593Z\",\r\n    \"updated_at\": \"2023-08-14T03:29:54.953406Z\",\r\n    \"start\": \"2023-08-14T03:29:54.953403Z\",\r\n    \"contact_import_id\": \"7630005\",\r\n    \"contact_import_source\": \"transmit\",\r\n    \"mode\": \"live\",\r\n    \"operator_email\": \"emily@transmit.com\",\r\n    \"compelling_event\": \"\",\r\n    \"secure\": false\r\n}"}}}}},"put":{"tags":["Conversr"],"summary":"Update Touchpoint","description":"Updates the properties of an existing touchpoint.\n\nSupported properties for update depend on staus of touchpoint, and cannot be used to update system generated properties such as `id`, `created_at`, `updated_at` and `start`.\n\n| Touchpoint Status | Properites |\n| --- | --- |\n| draft | All properties can be updated |\n| active | All properties can be updated except `type`, `contact_import_id` |\n| cancelled | No properties can be updated |","requestBody":{"content":{"application/json":{"schema":{"type":"object","example":{"mode":"<string>","type":"<string>","name":"<string>","operator_name":"<string>","operator_email":"<string>","company_name":"<string>","sender_address":"<string>","contact_import_id":"<string>","contact_import_source":"<string>","secure":false,"compelling_event":"<string>","webhook_urls":{"webhook_url_1":"<string>","webhook_url_2":"<string>"},"op_hours":[{"day_of_week":"mon","hours":[{"start":"9:00","end":"12:00"},{"start":"13:00","end":"17:00"}]},{"day_of_week":"tue","hours":[{"start":"8:00","end":"11:00"},{"start":"13:00","end":"15:00"}]},{"day_of_week":"wed","hours":[{"start":"11:00","end":"12:00"}]},{"day_of_week":"thur","hours":[{"start":"11:00","end":"12:00"}]},{"day_of_week":"fri","hours":[{"start":"11:00","end":"12:00"}]},{"day_of_week":"sat","hours":[{"start":"11:00","end":"12:00"}]},{"day_of_week":"sun","hours":[{"start":"11:00","end":"12:00"}]}],"time_zone":"<string>"}}}}},"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Unique ID of the touchpoint"}],"responses":{"200":{"description":"successful operation","content":{"text/plain":{"schema":{"type":"string"},"example":"{\r\n    \"id\": \"5e6171c4-a20a-499d-96f3-bc80cdedefre\",\r\n    \"account_id\": \"173733\",\r\n    \"name\": \"Lead Call Scheduling Campaign - Updated\",\r\n    \"type\": \"lead_call_scheduling\",\r\n    \"company_name\": \"Transmit\",\r\n    \"operator_name\": \"Emily\",\r\n    \"operator_email\": \"emily@transmit.com\",\r\n    \"contact_import_source\": \"transmit\",\r\n    \"contact_import_id\": \"7785421\",\r\n    \"sender_address\": \"61426309000\",\r\n    \"mode\": \"live\",\r\n    \"compelling_event\": \"\",\r\n    \"webhook_urls\": {},\r\n    \"op_hours\": [],\r\n    \"time_zone\": \"\",\r\n    \"secure\": false,\r\n    \"status\": \"draft\",\r\n    \"created_at\": \"2023-09-27 04:50:03.046293 +0000 UTC\",\r\n    \"updated_at\": \"2023-09-27 04:52:24.318717 +0000 UTC\",\r\n    \"start\": \"0001-01-01 00:00:00 +0000 UTC\"\r\n}"}}}}},"delete":{"tags":["Conversr"],"summary":"Delete Touchpoint","description":"Deletes an existing touchpoint.\n\nOnly touchpoints in status of either `draft` or `cancelled` can be deleted.","parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Unique ID of the touchpoint"}],"responses":{"200":{"description":"successful operation","content":{"text/plain":{"schema":{"type":"string"},"example":"{\r\n    \"message\": \"touchpoint deleted\"\r\n}"}}}}}},"/v1/touchpoint":{"get":{"tags":["Conversr"],"summary":"List Touchpoints","description":"Returns a list of touchpoints sorted by updated_at date descending.","parameters":[{"name":"limit","in":"query","schema":{"type":"number"},"required":true,"description":"Limits the number of touchpoints returned. Default is 50."},{"name":"offset","in":"query","schema":{"type":"number"},"required":true,"description":"Offsets the starting position of touchpoints returned."}],"responses":{"200":{"description":"successful operation","content":{"text/plain":{"schema":{"type":"string"},"example":"{\r\n    \"limit\": 50,\r\n    \"offset\": 0,\r\n    \"total\": 2,\r\n    \"touchpoints\": [\r\n        {\r\n            \"id\": \"e40bdade-68c2-45ce-a5f1-8f022b9f97c5\",\r\n            \"account_id\": \"173733\",\r\n            \"name\": \"Lead Call Scheduling Campaign\",\r\n            \"type\": \"lead_call_scheduling\",\r\n            \"status\": \"active\",\r\n            \"operator_name\": \"Emily\",\r\n            \"company_name\": \"Transmit\",\r\n            \"sender_address\": \"61426309000\",\r\n            \"created_at\": \"2023-08-14T03:29:43.907593Z\",\r\n            \"updated_at\": \"2023-08-14T03:29:54.953406Z\",\r\n            \"start\": \"2023-08-14T03:29:54.953403Z\",\r\n            \"contact_import_id\": \"7630005\",\r\n            \"contact_import_source\": \"transmit\",\r\n            \"mode\": \"live\",\r\n            \"operator_email\": \"emily@transmit.com\",\r\n            \"compelling_event\": \"\",\r\n            \"secure\": false\r\n        },\r\n        {\r\n            \"id\": \"e40bdade-68c2-45ce-a5f1-8f022b9f97c6\",\r\n            \"account_id\": \"173733\",\r\n            \"name\": \"NPS Survey 23\",\r\n            \"type\": \"nps_survey\",\r\n            \"status\": \"active\",\r\n            \"operator_name\": \"Emily\",\r\n            \"company_name\": \"Transmit\",\r\n            \"sender_address\": \"61426309422\",\r\n            \"created_at\": \"2023-08-16T03:29:43.907593Z\",\r\n            \"updated_at\": \"2023-08-16T03:29:54.953406Z\",\r\n            \"start\": \"2023-08-16T03:29:54.953403Z\",\r\n            \"contact_import_id\": \"7630006\",\r\n            \"contact_import_source\": \"transmit\",\r\n            \"mode\": \"live\",\r\n            \"operator_email\": \"emily@transmit.com\",\r\n            \"compelling_event\": \"\",\r\n            \"secure\": false\r\n        }\r\n    ]\r\n}"}}}}},"post":{"tags":["Conversr"],"summary":"Create Touchpoint","description":"Creates a new touchpoint in `draft` status.\n\n| **Key** | **Type** | **Description** | **Required** | **Example Values** |\n| --- | --- | --- | --- | --- |\n| mode | String | Controls whether the touchpoint should be run in Sandbox or Live mode.  <br>  <br>Touchpoints in sandbox mode do not send out SMS. | Yes | live  <br>sandbox |\n| type | String | The name of the Touchpoint Type that will define template message copy and automation rules for inbound replies and other events that occur during a conversation. | Yes | nps_survey  <br>email_cleanse  <br>lead_call_scheduling |\n| name | String | The name of the touchpoint. Used to differentiate instances of the same Touchpoint Type from each other. | Yes | NPS Survey - Jan 23 |\n| operator_name | String | The name of the operator that will receive the operator transition emails.  <br>  <br>If the `template_text` within the Touchpoint Type includes the _“\\[operator_name\\]“_ variable, then the value provided for operator_name will be substituted here in the outbound SMS message. | Yes | Sally |\n| operator_email | String | The email address of the operator that will receive the operator transition emails. | Yes | [emily@transmitsms.com](https://mailto:emily@transmitsms.com) |\n| company_name | String | The name of the Company / Brand that is sending the touchpoint.  <br>  <br>If the `template_text` within the Touchpoint Type includes the _“\\[company_name\\]“_ variable, then the value provided for `company_name` will be substituted here in the outbound SMS message. | Yes | ACME Co |\n| sender_address | String | The mobile phone number that will be used to send the touchpoint to contacts on the contact list. | Yes | 61430000102 |\n| contact_import_id | String | The Contact List ID of the Transmit SMS contact list that contains contacts for the touchpoint.  <br>  <br>If no value for contact_import_id is provided, a new contact list will be created and returned as part of the successful Create Touchpoint response. | No | 1234567 |\n| contact_import_source | String | The source system that is providing the contact list.  <br>  <br>For now this is always \"transmit\". | Yes | transmit |\n| secure | Boolean | Controls whether single-click Quick Responses are enabled within operator transition emails.  <br>  <br>If secure is `true`, then buttons in the email will behave the same way as the ‘edit’ links and take the operator to the Operator Transition web app to continue.  <br>  <br>Defaults to `false` if no value provided. | No | true  <br>false |\n| compelling_event | String | Additional text that modifies the outbound SMS message.  <br>  <br>If the `template_text` within the Touchpoint Type includes _“\\[compelling_event\\]“_ variable, then this value will be substituted here in the outbound SMS message. | No | The 2023 Tax season is fast approaching. |\n| webhook_urls | Object containing key value pairs | A list of webhook variables and endpoints that will recieve a webhook when certain conditions are reached (as defined in the Touchpoint Type of this touchpoint). | No | `\"hard_bounces\" : \"webhook.site/xxxx\", \"soft_bounces\" : \"webhook.site/yyyy\"` |\n| op_hours | Array of objects | A list of operating days and hours that control node transitions with conditions `in_hours` and `out_of_hours` for this touchpoint.  <br>  <br>Each object in the array must contain  <br>`day_of_week` and `hours`.  <br>  <br>day_of_week is an enum and one of \"mon\", \"tue\", \"wed\", \"thu\", \"fri\", \"sat\", \"sun\".  <br>  <br>Hours is an array of objects, and each object must contain `start` and `end` properties which define periods of the day considered `in_hours`. | No | `{ \"day_of_week\": \"mon\", \"hours\": [{\"start\": \"9:00\", \"end\": \"12:00\"}, {\"start\": \"13:00\", \"end\": \"17:00\"}] }` |\n| time_zone | String | Sets the time zone for `op_hours`.  <br>Time zone string values taken from [IANA Time Zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones).  <br>  <br>If no time zone is provided then the touchpoint will default to UTC. | No | Australia/Sydney  <br>Europe/London |","requestBody":{"content":{"application/json":{"schema":{"type":"object","example":{"mode":"<string>","type":"<string>","name":"<string>","operator_name":"<string>","operator_email":"<string>","company_name":"<string>","sender_address":"<string>","contact_import_id":"<string>","contact_import_source":"<string>","secure":false,"compelling_event":"<string>","webhook_urls":{"webhook_url_1":"<string>","webhook_url_2":"<string>"},"op_hours":[{"day_of_week":"mon","hours":[{"start":"9:00","end":"12:00"},{"start":"13:00","end":"17:00"}]},{"day_of_week":"tue","hours":[{"start":"8:00","end":"11:00"},{"start":"13:00","end":"15:00"}]},{"day_of_week":"wed","hours":[{"start":"11:00","end":"12:00"}]},{"day_of_week":"thur","hours":[{"start":"11:00","end":"12:00"}]},{"day_of_week":"fri","hours":[{"start":"11:00","end":"12:00"}]},{"day_of_week":"sat","hours":[{"start":"11:00","end":"12:00"}]},{"day_of_week":"sun","hours":[{"start":"11:00","end":"12:00"}]}],"time_zone":"<string>"}}}}},"responses":{"200":{"description":"successful operation","content":{"text/plain":{"schema":{"type":"string"},"examples":{"example-0":{"summary":"Example - Simple Touchpoint","value":"{\r\n    \"id\": \"5e6171c4-a20a-499d-96f3-bc80cdedefre\",\r\n    \"account_id\": \"173733\",\r\n    \"name\": \"Lead Call Scheduling Campaign\",\r\n    \"type\": \"lead_call_scheduling\",\r\n    \"status\": \"draft\",\r\n    \"operator_name\": \"Emily\",\r\n    \"company_name\": \"Transmit\",\r\n    \"sender_address\": \"61426309000\",\r\n    \"created_at\": \"2023-09-27T04:50:03.046293934Z\",\r\n    \"updated_at\": \"2023-09-27T04:50:03.046294045Z\",\r\n    \"start\": \"0001-01-01T00:00:00Z\",\r\n    \"contact_import_id\": \"7785421\",\r\n    \"contact_import_source\": \"transmit\",\r\n    \"mode\": \"live\",\r\n    \"operator_email\": \"emily@transmit.com\",\r\n    \"compelling_event\": \"\",\r\n    \"secure\": false\r\n}"},"example-1":{"summary":"Example - Advanced Touchpoint","value":"{\r\n    \"id\": \"ef363111-53b8-47e4-b4d0-2515202200ff\",\r\n    \"account_id\": \"173733\",\r\n    \"name\": \"Lead Call Scheduling Campaign\",\r\n    \"type\": \"lead_call_scheduling\",\r\n    \"status\": \"draft\",\r\n    \"operator_name\": \"Emily\",\r\n    \"company_name\": \"Transmit\",\r\n    \"sender_address\": \"61426309000\",\r\n    \"created_at\": \"2023-09-29T02:05:59.119741391Z\",\r\n    \"updated_at\": \"2023-09-29T02:05:59.119741588Z\",\r\n    \"start\": \"0001-01-01T00:00:00Z\",\r\n    \"contact_import_id\": \"1234567\",\r\n    \"contact_import_source\": \"transmit\",\r\n    \"mode\": \"live\",\r\n    \"operator_email\": \"emily@transmit.com\",\r\n    \"compelling_event\": \"\",\r\n    \"webhook_urls\": {\r\n        \"opt_out_webhook\": \"https://webhook.site/xxxx\",\r\n        \"scheduled_call_webhook\": \"https://webhook.site/zzzz\",\r\n        \"wrong_number_webhook\": \"https://webhook.site/yyyy\"\r\n    },\r\n    \"op_hours\": [\r\n        {\r\n            \"day_of_week\": \"mon\",\r\n            \"hours\": [\r\n                {\r\n                    \"start\": \"9:00\",\r\n                    \"end\": \"12:00\"\r\n                },\r\n                {\r\n                    \"start\": \"13:00\",\r\n                    \"end\": \"17:00\"\r\n                }\r\n            ]\r\n        },\r\n        {\r\n            \"day_of_week\": \"tue\",\r\n            \"hours\": [\r\n                {\r\n                    \"start\": \"9:00\",\r\n                    \"end\": \"17:00\"\r\n                }\r\n            ]\r\n        },\r\n        {\r\n            \"day_of_week\": \"wed\",\r\n            \"hours\": [\r\n                {\r\n                    \"start\": \"9:00\",\r\n                    \"end\": \"17:00\"\r\n                }\r\n            ]\r\n        },\r\n        {\r\n            \"day_of_week\": \"thu\",\r\n            \"hours\": [\r\n                {\r\n                    \"start\": \"9:00\",\r\n                    \"end\": \"17:00\"\r\n                }\r\n            ]\r\n        },\r\n        {\r\n            \"day_of_week\": \"fri\",\r\n            \"hours\": [\r\n                {\r\n                    \"start\": \"9:00\",\r\n                    \"end\": \"17:00\"\r\n                }\r\n            ]\r\n        }\r\n    ],\r\n    \"time_zone\": \"Australia/Sydney\",\r\n    \"secure\": true\r\n}"}}}}}}}},"/v1/touchpoint_type_names":{"get":{"tags":["Conversr"],"summary":"List Touchpoint Type Names","description":"Returns a list of touchpoint type names.\n\nTouchpoint types define template message copy and automation rules for inbound replies, and are a required field for touchpoints.","responses":{"200":{"description":"successful operation","content":{"text/plain":{"schema":{"type":"string"},"example":"{\r\n    \"touchpoint_type_names\": [\r\n        \"email_address_data_cleanse\",\r\n        \"lead_call_scheduling\",\r\n        \"black_friday_23_promotion\",\r\n        \"nps_survey\"\r\n    ]\r\n}"}}}}}},"/v1/touchpoint/{id}/start":{"put":{"tags":["Conversr"],"summary":"Start Touchpoint","description":"Activates an existing touchpoint which changes its status from `draft` to `active` and starts sending initial messages defined in the Touchpoint Type to contacts in the associated contact list.","requestBody":{"content":{}},"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Unique ID of the touchpoint"}],"responses":{"200":{"description":"successful operation","content":{"text/plain":{"schema":{"type":"string"},"example":"{\r\n    \"id\": \"5e6171c4-a20a-499d-96f3-bc80cdedefre\",\r\n    \"account_id\": \"173733\",\r\n    \"name\": \"Lead Call Scheduling Campaign - Updated\",\r\n    \"type\": \"lead_call_scheduling\",\r\n    \"status\": \"active\",\r\n    \"operator_name\": \"Emily\",\r\n    \"company_name\": \"Transmit\",\r\n    \"sender_address\": \"61426309000\",\r\n    \"created_at\": \"2023-09-27T04:50:03.046293Z\",\r\n    \"updated_at\": \"2023-09-27T04:53:29.40834624Z\",\r\n    \"start\": \"2023-09-27T04:53:29.408346165Z\",\r\n    \"contact_import_id\": \"7785421\",\r\n    \"contact_import_source\": \"transmit\",\r\n    \"mode\": \"live\",\r\n    \"operator_email\": \"emily@transmit.com\",\r\n    \"compelling_event\": \"\",\r\n    \"secure\": false\r\n}"}}}}}},"/v1/touchpoint/{id}/cancel":{"put":{"tags":["Conversr"],"summary":"Cancel Touchpoint","description":"Deactivates an existing touchpoint which changes its status from `active` to `cancelled`.\n\nPrevents additional messages being sent to existing contacts, and prevents new contacts from being added to the touchpoint.\n\nOnce a touchpoint is cancelled it cannot be reactivated.","requestBody":{"content":{}},"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Unique ID of the touchpoint"}],"responses":{"200":{"description":"successful operation","content":{"text/plain":{"schema":{"type":"string"},"example":"{\r\n    \"id\": \"5e6171c4-a20a-499d-96f3-bc80cdedefre\",\r\n    \"account_id\": \"173733\",\r\n    \"name\": \"Lead Call Scheduling Campaign - Updated\",\r\n    \"type\": \"lead_call_scheduling\",\r\n    \"status\": \"cancelled\",\r\n    \"operator_name\": \"Emily\",\r\n    \"company_name\": \"Transmit\",\r\n    \"sender_address\": \"61426309000\",\r\n    \"created_at\": \"2023-09-27T04:50:03.046293Z\",\r\n    \"updated_at\": \"2023-09-27T04:54:37.602997032Z\",\r\n    \"start\": \"2023-09-27T04:53:29.408346Z\",\r\n    \"contact_import_id\": \"7785421\",\r\n    \"contact_import_source\": \"transmit\",\r\n    \"mode\": \"live\",\r\n    \"operator_email\": \"emily@transmit.com\",\r\n    \"compelling_event\": \"\",\r\n    \"secure\": false\r\n}"}}}}}},"/v1/touchpoint/{id}/report-contacts":{"get":{"tags":["Conversr"],"summary":"Touchpoint CSV Report","description":"Returns a report of contacts included in the touchpoint contact list, including contact details, results, data, tracked link hits and conversation message history.\n\n**Filtering by date the contact was added:**\n\n- If neither `contact-start` or `contact-end` query parameters are provided, the response will include all contacts.\n    \n- If only one of `contact-start` or `contact-end` query parameters is provided, the response will include contacts that were added to the touchpoint after the `contact-start` date or before the `contact-end` date.\n    \n- If both `contact-start` and `contact-end` query parameters are provided, the response will only include contacts that were added to the touchpoint between those dates.","parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Unique ID of the touchpoint"},{"name":"contact-start","in":"query","required":false,"schema":{"type":"string","format":"date-time"},"description":"Earliest datetime of contact added to this touchpoint in RFC3339 format (e.g. \"2020-05-01T00:00:00Z\")"},{"name":"contact-end","in":"query","required":false,"schema":{"type":"string","format":"date-time"},"description":"Latest datetime of contact added to this touchpoint in RFC3339 format (e.g. \"2020-05-01T00:00:00Z\")"},{"name":"contact-update-start","in":"query","required":false,"schema":{"type":"string","format":"date-time"},"description":"Earliest datetime of contact last updated in this touchpoint in RFC3339 format (e.g. \"2020-05-01T00:00:00Z\")"},{"name":"contact-update-end","in":"query","required":false,"schema":{"type":"string","format":"date-time"},"description":"Latest datetime of contact last updated in this touchpoint in RFC3339 format (e.g. \"2020-05-01T00:00:00Z\")"}],"responses":{"200":{"description":"successful operation","content":{"text/plain":{"schema":{"type":"string"},"example":"contact_id,created_at,first_name,last_name,mobile,results,initial_success,operator_transitions,with_operator,has_responded,message_type_1,message_date_1,message_1,dlr_status_1,dlr_time_1,message_type_2,message_date_2,message_2,dlr_status_2,dlr_time_2\r\n0b6f6584-d941-44a6-b5df-788f5074e324,2023-08-14 03:36:46.004503 +0000 UTC,FakeFirstName1,FakeLastname1,61400000001,Scheduled Call,1,0,0,0,message,2023-08-14 03:36:46 +0000 UTC,\"Hi FakeFirstName1, it's Emily from Transmit here. Just checking in to see how you are going with your product trial. Should we schedule a call to understand your needs better and answer any questions you may have? 😊\",delivered,2023-08-14 03:36:54 +0000 UTC,,,,,\r\n10c8adb9-c4df-4649-858f-5d3218e216d6,2023-08-14 03:38:12.791731 +0000 UTC,FakeFirstName2,FakeLastname2,61400000002,Call Back Later,0,0,0,0,message,2023-08-14 03:38:12 +0000 UTC,\"Hi FakeFirstName2, it's Emily from Transmit here. Just checking in to see how you are going with your product trial. Should we schedule a call to understand your needs better and answer any questions you may have? 😊\",sent,2023-08-14 03:38:12 +0000 UTC,,,,,\r\n16160c2a-9e30-4d03-a967-151e6b397e68,2023-08-14 03:35:32.573359 +0000 UTC,FakeFirstName3,FakeLastname3,61400000003,Wrong Number,0,0,0,0,message,2023-08-14 03:35:32 +0000 UTC,\"Hi FakeFirstName3, it's Emily from Transmit SMS. Just checking in to see how you are going with your product trial. Should we schedule a call to understand your needs better and answer any questions you may have? 😊\",sent,2023-08-14 03:35:32 +0000 UTC,,,,,\r\n"}}}}}},"/v1/touchpoint/{id}/aggregates":{"get":{"tags":["Conversr"],"summary":"Touchpoint Aggregates Report","description":"Returns an an aggregate summary of contacts in the touchpoint including the status of message delivery, results, operator transitions and engagement.\n\n**Filtering by date the contact was added:**\n\n- If neither `contact-start` or `contact-end` query parameters are provided, the response will include all contacts.\n- If only one of `contact-start` or `contact-end` query parameters is provided, the response will include contacts that were added to the touchpoint after the `contact-start` date or before the `contact-end` date.\n- If both `contact-start` and `contact-end` query parameters are provided, the response will only include contacts that were added to the touchpoint between those dates.","parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Unique ID of the touchpoint"},{"name":"contact-start","in":"query","schema":{"type":"string","format":"date-time"},"required":true,"description":"Earliest datetime of contact added to this touchpoint in RFC 3339 format (e.g. \"2020-05-01T00:00:00Z\")"},{"name":"contact-end","in":"query","schema":{"type":"string","format":"date-time"},"required":true,"description":"Latest datetime of contact added to this touchpoint in RFC 3339 format (e.g. \"2020-05-01T00:00:00Z\")"}],"responses":{"200":{"description":"successful operation","content":{"text/plain":{"schema":{"type":"string"},"example":"{\r\n    \"touchpoint_id\": \"5e6171c4-a20a-499d-96f3-bc80cdedefre\",\r\n    \"status\": {\r\n        \"total\": 50,\r\n        \"total_sent\": 50,\r\n        \"total_not_sent\": 0,\r\n        \"delivered\": 24,\r\n        \"hard_bounce\": 0,\r\n        \"soft_bounce\": 0,\r\n        \"other\": 26\r\n    },\r\n    \"results\": [\r\n        {\r\n            \"name\": \"Call Back Later\",\r\n            \"qty\": 12\r\n        },\r\n        {\r\n            \"name\": \"No Longer Interested\",\r\n            \"qty\": 6\r\n        },\r\n        {\r\n            \"name\": \"Opt Out\",\r\n            \"qty\": 7\r\n        },\r\n        {\r\n            \"name\": \"Scheduled Call\",\r\n            \"qty\": 21\r\n        },\r\n        {\r\n            \"name\": \"Wrong Number\",\r\n            \"qty\": 4\r\n        }\r\n    ],\r\n    \"with_operator\": {\r\n        \"open\": 6,\r\n        \"closed\": 0\r\n    },\r\n    \"engagement\": {\r\n        \"engagement\": 6,\r\n        \"responses\": 6,\r\n        \"link_hits\": 0\r\n    }\r\n}"}}}}}},"/v1/touchpoint/{id}/contacts":{"get":{"tags":["Conversr"],"summary":"Touchpoint Contact Summary Report","description":"Returns a summary of contacts in the touchpoint including the contact details, start date, operator status, responded status and link click status.","parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Unique ID of the touchpoint"},{"name":"limit","in":"query","schema":{"type":"number","default":1000},"required":false,"description":"Limits the number of contacts returned. Default is 1000."},{"name":"offset","in":"query","schema":{"type":"number","default":0},"required":false,"description":"Offsets the starting position of contacts returned."}],"responses":{"200":{"description":"successful operation","content":{"text/plain":{"schema":{"type":"string"},"example":"{\r\n    \"touchpoint_id\": \"5e6171c4-a20a-499d-96f3-bc80cdedefre\",\r\n    \"total\": 50,\r\n    \"offset\": 0,\r\n    \"limit\": 3,\r\n    \"contacts\": [\r\n        {\r\n            \"id\": \"6a608de1-a017-4e1e-9cf0-28441a4575d0\",\r\n            \"mobile\": \"61400000001\",\r\n            \"first_name\": \"FakeFirstName1\",\r\n            \"last_name\": \"FakeLastname1\",\r\n            \"start_date\": \"2023-08-14T03:32:18.79431Z\",\r\n            \"with_operator\": false,\r\n            \"has_responded\": false,\r\n            \"has_clicked_link\": false\r\n        },\r\n        {\r\n            \"id\": \"77090ee0-6240-4c93-839d-1d0c26ecb439\",\r\n            \"mobile\": \"61400000002\",\r\n            \"first_name\": \"FakeFirstName2\",\r\n            \"last_name\": \"FakeLastname2\",\r\n            \"start_date\": \"2023-08-14T03:32:19.310121Z\",\r\n            \"with_operator\": false,\r\n            \"has_responded\": false,\r\n            \"has_clicked_link\": false\r\n        },\r\n        {\r\n            \"id\": \"61284e60-cafb-4fe5-846b-59a2f9482838\",\r\n            \"mobile\": \"61400000003\",\r\n            \"first_name\": \"FakeFirstName3\",\r\n            \"last_name\": \"FakeLastname3\",\r\n            \"start_date\": \"2023-08-14T03:32:18.552616Z\",\r\n            \"with_operator\": false,\r\n            \"has_responded\": false,\r\n            \"has_clicked_link\": false\r\n        }\r\n    ]\r\n}"}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}